.body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    transition: 0.3s;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
}

.hero-section {
    height: 350px;
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.card:hover {
    transform: scale(1.03);
    transition: 0.3s;
}